<div class ="jumbotron center">

  <h1>Irish Folk App</h1>
  <h2>Fáilte!</h2>

  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-danger btn-lg" %>
  <%= link_to "Log In", new_user_session_path, class: "btn btn-success btn-lg" %>

</div> <!--jumbotron-->
