$navbar-default-bg: #E98F4D;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
  background-color: #E37D47;
  background-image: asset-url("fire2.jpg");
  background-size: cover;
  font-family: 'Lato';
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #00511A;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.navbar-nav a {
  color: black !important;
  font-family: 'Lato';
  font-size: 1.1em;
}

.jumbotron {
  background-image: asset-url("banjo.jpg");
  background-size: cover;
  height: 600px;
  color: #262525;
}

.jumbotron h1,
.jumbotron h2 {
  text-shadow: 2px 2px white;
}

.center {
  text-align: center;
  clear: both;
}

h1, h2 {
  color: #fcfcfc;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: $beige;
}

#footer-container .text-muted {
  margin: 15px 0;
  color: black;
}
