<% if notice %>
    <div class="alert alert-success" role="alert"><a href="#" class="close" data-dismiss="alert">&#215;</a>
      <p class="notice"><%= notice %></p>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert alert-warning" role="alert"><a href="#" class="close" data-dismiss="alert">&#215;</a>
      <p class="alert"><%= alert %></p>
    </div>
  <% end %>
